.popup_modals {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 8% auto;
  border-radius: 10px;
  background-color: #f5f5f5;
  color: black;
  -webkit-transition: opacity 0.15s, -webkit-transform 0.3s;
  transition: opacity 0.15s, -webkit-transform 0.3s;
  transition: opacity 0.15s, transform 0.3s;
  transition: opacity 0.15s, transform 0.3s, -webkit-transform 0.3s;
}
.popup_modals.modal_small {
  width: 300px;
}
.popup_modals.modal_medium {
  width: 500px;
}
.popup_modals.modal_large {
  width: 600px;
}
.popup_modals.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.popup_modals.top {
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.popup_modals.bottom {
  -webkit-transform: translate(0, 25%);
      -ms-transform: translate(0, 25%);
          transform: translate(0, 25%);
}
.popup_modals.right {
  -webkit-transform: translate(25%, 0);
      -ms-transform: translate(25%, 0);
          transform: translate(25%, 0);
}
.popup_modals.left {
  -webkit-transform: translate(-25%, 0);
      -ms-transform: translate(-25%, 0);
          transform: translate(-25%, 0);
}
.popup_modals.in {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.popup_modals .modal_content {
  padding: 20px;
  text-align: center;
}
.popup_modals .modal_content .modal_input {
  margin-top: 10px;
  padding: 5px 8px;
  border-radius: 4px;
  border: 1px solid #d2dee2;
  box-sizing: border-box;
}
.popup_modals .modal_buttons {
  padding: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
}
.popup_modals .modal_buttons.right {
  text-align: right;
}
.popup_modals .modal_buttons.right .btn {
  margin-left: 5px;
}
.popup_modals .modal_buttons.left {
  text-align: center;
}
.popup_modals .modal_buttons .btn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  width: 45%;
  margin: 0 2px;
  font-size: 14px;
  box-sizing: border-box;
}
.popup_modals .modal_buttons .btn.btn_pmry {
  background-color: #2ecc71;
}
.popup_modals .modal_buttons .btn.btn_pmry:hover {
  background-color: #1e9d54;
}
.popup_modals .modal_buttons .btn.btn_sdry {
  background-color: #e74c3c;
}
.popup_modals .modal_buttons .btn.btn_sdry:hover {
  background-color: #c13426;
}
.popup_modals .modal_buttons .btn.btn_extra {
  background-color: #7f8c8d;
}
.popup_modals .modal_buttons .btn.btn_extra:hover {
  background-color: #5e696a;
}
.popup_modals .modal_buttons .btn:hover {
  cursor: pointer;
}
.modal_backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  z-index: 1000;
}
.modal_backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal_backdrop.in {
  opacity: 0.75;
  filter: alpha(opacity=75);
}
